@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{


    /*typography vars*/
    --text-color:hsl(238, 29%, 16%);
    --text-secondaryColor:hsl(14, 88%, 65%);
    --font-size:14px;
    --font-light: 400;
    --font-heavy: 700;


    /*UI  colors*/
    --divider:hsl(240, 5%, 91%);

}


body{
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--text-color);
    font-weight: var(--font-light);
    font-size: var(--font-size);
    padding-bottom: 1rem;
    overflow: scroll;
}



.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;


}
/*
min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;*/


.card{
    width: 80%;
    height: fit-content;
    background: white;
    border-radius: 25px; 
    display: flex;
    flex-direction: column;
    min-width: 250px;
    top: 250px;
}




/*card header and questions */

h1{
    text-align: center;
    margin-bottom: 1rem;
}

.lady-img{
    position: relative;
    width: 100%;
    height: 100px;
    padding-left: -2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;
}

.hide{
    height: 100px;
}


.faqs{
    flex: 1;
    margin: 2rem;
}




.center-images{
    position: relative;
    object-fit: contain;
}

.imageA{
    position: relative;
    top:-110px;
    left:-10px;
    z-index: 1;

}

.imageB{
    position: absolute;
    top: 0px;
    left: 15px;
    z-index: 20;
    width: 90%;
}






/* Question section styling*/
details{
    padding: .5rem 0 .5rem 0;
    border-bottom: 1px solid var(--divider);
    margin-left: 0px;
    font-weight: var(--font-light);
    line-height: 1.5;
    display: block;

}

summary{
    padding-bottom: 1rem;
    width: 100%;
}

details > summary{
    list-style: none;
}

.arrow{
    display: block;
    float: right;
    
}


details[open] summary{
    font-weight: var(--font-heavy);
}
details[open] summary .arrow{
    transform: rotate(180deg);
}


details > summary::-webkit-details-marker {
    display: inline-block;
    display: none;
}



summary img{
    vertical-align: middle;
    float: right;
}





@media screen and (min-width: 900px) {
    .card{
        flex-direction: row; 
        width: 1000px;
        justify-content: center;
        align-items: center;
        min-height: fit-content;
       
    }

    .lady-img{
        height: 100%;
        background: url("./images/bg-pattern-desktop.svg") no-repeat;
        background-position: -40em -23em;
        justify-content: left;
    }
    
    .center-images{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .center-images .imageA{
        overflow: hidden;
    }

    .hide{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .imageA{
        content: url("./images/illustration-woman-online-desktop.svg");
        margin-top: 155px;
        margin-left: -60px;
    }

    .imageB{
        content: url("./images/illustration-box-desktop.svg");
        margin-left: -95px;
        margin-top: 200px;
        width:40%;
    }
    
    
    .faqs{
        width:100%;
    }

    h1{
        text-align: left;
        margin-bottom: 2rem;
    }

    
  }